## OHLCV

In [20]:
import pandas as pd
import yfinance as yf

stock_symbol = 'KO'
start_date = '2022-01-01'
end_date = '2022-07-30'

coca_cola = yf.download(stock_symbol, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [21]:
coca_cola.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-07-25  61.549999  62.299999  61.310001  62.189999  62.189999  14941700
2022-07-26  62.750000  63.799999  62.529999  63.209999  63.209999  20118000
2022-07-27  62.880001  63.189999  61.790001  63.009998  63.009998  12142900
2022-07-28  62.919998  64.250000  62.889999  64.059998  64.059998  10837000
2022-07-29  63.709999  64.290001  63.630001  64.169998  64.169998  13733400

#### adjusted closing price
instead of closing price (cash value of the last transacted price before the market closes), adjusted closing price factors in *corporate actions such as splits, dividends, and rights offerings*

In [14]:
coca_cola = yf.download('KO', '2022-03-19', '2022-07-30', auto_adjust=True)
coca_cola.tail()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close    Volume
Date
2022-07-25  61.549999  62.299999  61.310001  62.189999  14941700
2022-07-26  62.750000  63.799999  62.529999  63.209999  20118000
2022-07-27  62.880001  63.189999  61.790001  63.009998  12142900
2022-07-28  62.919998  64.250000  62.889999  64.059998  10837000
2022-07-29  63.709999  64.290001  63.630001  64.169998  13733400

In [17]:
coca_cola.index = pd.to_datetime(coca_cola.index)
coca_cola.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-07-25  61.549999  62.299999  61.310001  62.189999  62.189999  14941700
2022-07-26  62.750000  63.799999  62.529999  63.209999  63.209999  20118000
2022-07-27  62.880001  63.189999  61.790001  63.009998  63.009998  12142900
2022-07-28  62.919998  64.250000  62.889999  64.059998  64.059998  10837000
2022-07-29  63.709999  64.290001  63.630001  64.169998  64.169998  13733400

### more on stock market data 
https://blog.quantinsti.com/stock-market-data-analysis-python/